<html>
  <head>
    <title>Hello</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1> Some Cool Websites </h1>
	<div>
		<a class ='pretty_button' href='http://teamliquid.net'>
			<img src='http://starcraft2.ingame.de/wiki/images/thumb/4/4e/TeamLiquid.png/200px-TeamLiquid.png' />
		</a>
		<a class ='pretty_button' href='http://simple.com'>
			<img src='http://cdn.appstorm.net/web.appstorm.net/files/2012/09/simpledotcom-logo1.png'>
		</a>
		<a class='pretty_button' href='http://google.com'>
			<img src='http://www.yazarkafe.com/images/blog/a36naBGv96Nl.jpg'>
		</a>
	</div>
  </body>
</html>
