<html>
  <head>
    <title>YO</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
	  <h1> Ongoing Tournaments </h1>
	  <ul>
	  <li><a class ='pretty_button' href='http://www.twitch.tv/dreamhacktv'>Dreamhack Stockholm</a></li>
	  <li><a class ='pretty_button' href='http://www.twitch.tv/ongamenet'>Proleague</a></li>
	  <li><a class ='pretty_button' href='http://www.twitch.tv/wcs_gsl/'>WCS Korea</a></li>
  </ul>
	<h1> Some Cool Websites </h1>
	<div>
		<a class ='pretty_button' href='http://teamliquid.net'>
			<img src='http://starcraft2.ingame.de/wiki/images/thumb/4/4e/TeamLiquid.png/200px-TeamLiquid.png' />
		</a>
		<a class ='pretty_button' href='http://simple.com'>
			<img src='http://cdn.appstorm.net/web.appstorm.net/files/2012/09/simpledotcom-logo1.png'>
		</a>
		<a class='pretty_button' href='http://google.com'>
			<img src='http://www.yazarkafe.com/images/blog/a36naBGv96Nl.jpg'>
		</a>
		<a class ='pretty_button' href='/secrets'>
			<img src='http://a.deviantart.net/avatars/w/h/white-white.jpg?3	'>
		</a>
	</div>
  </body>
</html>
