h1 {
  color: #c95200;
  padding:30px;
  font-size:50	px;
}
body {
	background: url(http://4.bp.blogspot.com/-vo8vd455HOQ/UKzLwRkYqiI/AAAAAAAACHI/dG-kQFYmrWw/s1600/desktop+wallpaper+nature+sky.jpg) no-repeat
}

.pretty_button{
	text-decoration: none;
	padding:20px;
}
.bordered {
  border: 1px solid #2325ff;
}
